
.minecraft/logs/

.minecraft/saves/

.minecraft/usernamecache.json

.minecraft/usercache.json

.minecraft/crafttweaker.log

.minecraft/crash-reports/

*.errored

.minecraft/server/world/

.minecraft/server/logs/

*.log

.minecraft/screenshots/

lk/LaunchKit/

compile/
