
.minecraft/logs/

.minecraft/saves/

.minecraft/usernamecache.json

.minecraft/usercache.json

.minecraft/crafttweaker.log

.minecraft/crash-reports/

*.errored

.minecraft/server/world/

.minecraft/server/logs/

*.log

.minecraft/screenshots/

lk/LaunchKit/

compile/

natives/

.minecraft/.mixin.out/audit/mixin_implementation_report.txt

.minecraft/optionsshaders.txt

.minecraft/journeymap/data/
