// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.7\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Circle",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "Blank",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "23",
  "frameAlpha": "0",
  "terrainAlpha": "65",
  "orientation": "PlayerHeading",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "false",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "false",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "false",
  "fontScale": "2",
  "showWaypointLabels": "false",
  "locationFormatVerbose": "false",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "false",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "night",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}